$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1200px,
  'widescreen': 1400px,
  'lwide': 1710px
  );

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
  );

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/font';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';
@import "base/overrides";

@import "vendors/jcf";
@import "vendors/jquery-ui";

@import "layouts/header";
@import "layouts/other";
@import "layouts/footer";