#results-holder {
  margin-top: -30px;
  padding-top: 30px;
}
.ratio-aspect .image-sizes img {
  opacity: 0.5;
}
#breakpoints-processing {
  display: none;
}
#breakpoints-processing .message {
  display: block;
  margin-top: 20px;
  color: #999;
  font-size: 20px;      
}
.breakpoint-setting.processing #upload-widget-opener {
  display: none;      
}
.breakpoint-setting.processing #breakpoints-processing {
  display: inline-block;
}

.breakpoint-setting #regenerate-button {
  display: none;
}
.breakpoint-setting.processed #regenerate-button {
  display: block;
}
.check-box {
  cursor: pointer;
}
.slider .ui-widget-content {
  height: 3px;
  cursor: pointer;
}
.slider-range .slider .ui-slider-handle {
 cursor: pointer; 
}
.ratio-aspect .image-sizes [class*='size-'] span {
  width: 150px;
  padding: 7px 10px 0 0;
}

.ratio-aspect .image-sizes [class*='size-'] span.no-text {
  color: transparent;
  text-shadow: none;
}
.ratio-aspect .image-sizes [class*='size-'] span.small-text {
  font-weight: normal;
  font-size: 11px;
  padding: 2px 5px 0 0;
}
#download-link.pending {
  background-color: #eee;
  border-color: #eee;
  box-shadow: 4px 4px 6px rgba(191, 191, 191, .3);
  cursor: default;
}

.social-shares>li {
  min-width: 130px;
}

.note {
  padding-top: 10px;
  display: block;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
}

#footer .footer-top .fz-lg {
  margin-top: 20px;
  font-size: 20px;
}

#intro-details {
  display: none;
}

.intro-text {
  padding: 21px 30px 15px;
}

@media (max-width: 1199px) {
  .intro-text {
    padding: 20px 20px 11px;
  }
}


@media (max-width: 767px) {
  .intro-text {
    padding: 18px 20px 10px;  
  }
}

#footer .footer-top p {
  margin-bottom: 18px;
}

#footer .footer-top .fz-lg {
  margin-top: 20px;
  font-size: 20px;
  padding: 0 10%;
}

.tab-holder {
  margin-bottom: 16px;
}