#results-holder {
  margin-top: -30px;
  padding-top: 30px;
}
.ratio-aspect .image-sizes img {
  opacity: 0.5;
}
#breakpoints-processing {
  display: none;
}
#breakpoints-processing .message {
  display: block;
  margin-top: 20px;
  color: #999;
  font-size: 20px;      
}
.breakpoint-setting.processing #upload-widget-opener {
  display: none;      
}
.breakpoint-setting.processing #breakpoints-processing {
  display: inline-block;
}

.breakpoint-setting #regenerate-button {
  display: none;
}
.breakpoint-setting.processed #regenerate-button {
  display: block;
}
.check-box {
  cursor: pointer;
}
.slider .ui-widget-content {
  height: 3px;
  cursor: pointer;
}
.slider-range .slider .ui-slider-handle {
 cursor: pointer; 
}
.ratio-aspect .image-sizes [class*='size-'] span {
  width: 150px;
  padding: 7px 10px 0 0;
}

.ratio-aspect .image-sizes [class*='size-'] span.no-text {
  color: transparent;
  text-shadow: none;
}
.ratio-aspect .image-sizes [class*='size-'] span.small-text {
  font-weight: normal;
  font-size: 11px;
  padding: 2px 5px 0 0;
}
#download-link.pending {
  background-color: #eee;
  border-color: #eee;
  box-shadow: 4px 4px 6px rgba(191, 191, 191, .3);
  cursor: default;
}

.social-shares>li {
  min-width: 130px;
}

.note {
  padding-top: 10px;
  display: block;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
}

#footer .footer-top .fz-lg {
  margin-top: 20px;
  font-size: 20px;
}

#intro-details {
  display: none;
}

.intro-text {
  padding: 21px 30px 15px;
}

@media (max-width: 1199px) {
  .intro-text {
    padding: 20px 20px 11px;
  }
}


@media (max-width: 767px) {
  .intro-text {
    padding: 18px 20px 10px;  
  }
}

#footer .footer-top p {
  margin-bottom: 18px;
}

#footer .footer-top .fz-lg {
  margin-top: 20px;
  font-size: 20px;
  padding: 0 10%;
}

.tab-holder {
  margin-bottom: 16px;
}

.breakpoint-setting .ratio-list .check-box .fake-input {
  font-size: 10px;
  padding: 18px 7px 8px 7px;
}

.breakpoint-setting .ratio-list .check-box .fake-input .resolution-note {
  font-size: 9px;
  display: block;
  font-weight: normal;
}

.breakpoint-setting .ratio-list li:nth-child(1), .breakpoint-setting .ratio-list li:nth-child(2), .breakpoint-setting .ratio-list li:nth-child(3), .breakpoint-setting .ratio-list li:nth-child(4) {
  width: 94px;
}

.breakpoint-setting .ratio-list .jcf-select {
  height: 28px;
  border-top: none;
}
.breakpoint-setting .ratio-list .jcf-select .jcf-select-text {
  font-size: 12px;
  line-height: 26px;  
  text-align: center;
}

.breakpoint-setting .ratio-list .jcf-select .jcf-select-opener {
  top: 5px;
}


.breakpoint-setting .or {
  padding: 30px 15px 30px;
}

.ratio-aspect h2 .screen-size-details {
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .breakpoint-setting .ratio-list {
    width: 200px;
  }
  .breakpoint-setting .ratio-list li {
    margin-bottom: 10px;
  }
}

.picture-sample-section {
  margin-top: -40px;
  padding-bottom: 30px;
  text-align: center;
}

.picture-sample-section h3 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 19px;
  text-transform: uppercase;
}