body {
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {margin: 0 0 15px;}


.tooltip {
  &.right {
    margin-left: 6px;
  }
}

.tooltip-inner {
  text-align: left;
  padding: 7px 10px;
  font-size: 11px;
  line-height: 14px;
  border-radius: 0;
  box-shadow: 0 2px 8px rgba($gray-base, 0.12);
}

.nav-tabs {
  font-size: 14px;
  line-height: 18px;
  display: table;
  width: 100%;
  text-align: center;
  border: none;

  @include media('<phone') {
    font-size: 12px;
  }

  > li {
    float: none;
    display: table-cell;

    &:last-child {
      > a {
        margin-right: 0;
      }
    }

    &.active a,
    a:hover,
    &.active a:focus,
    &.active a:hover {
      background: #dadce0;
      border: none;
    }

    > a {
      border-radius: 0;
      background: #f0f2f5;
      color: $gray;
      border: none;
      padding: 9px 10px 8px;
      margin-right: 1px;

      @include media('<phone') {
        padding: 8px 4px;
      }
    }
  }
}

.table {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 47px;
  color: #333;
  border: solid #dadce0;
  border-width: 1px 0;

  @include media('<desktop') {
    border-top: 1px solid #dadce0;
    margin-bottom: 30px;
  }

  @include media('<desktop') {
    font-size: 14px;
  }

  @include media('<phone') {
    font-size: 12px;
    font-weight: 300;
  }

  .col1 {
    width: 50px;

    @include media('<phone') {
      width: 20px;
    }
  }

  > thead {
    tr {
      > th {
        background: #f0f2f5;
        border: none;
        color: #7a8999;
        text-align: center;
        line-height: 17px;
      }
    }
  }

  > tbody {
    > tr {
      &:nth-child(even) {
        td {
          background: #f0f2f5;
        }
      }

      > td {
        text-align: center;
        height: 51px;
        vertical-align: middle;

        @include media('<phone') {
          line-height: 17px;
        }

        &:first-child {
          color: #7a8999;
          font-weight: 700;
        }
      }
    }
  }
}

.form-control {
  box-shadow: none;
  height: 30px;
  font-size: 14px;
  padding: 4px 10px;
  line-height: 20px;
  appearance: none;
}

.btn {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 11px 17px;
  text-transform: uppercase;
  white-space: nowrap;
  box-shadow: 4px 4px 6px rgba(#1b5fbf, 0.3);
}

.btn-lg {
  padding: 21px 17px;
}

.well {
  border-radius: 0;
  padding: 33px 29px 39px;
  margin-bottom: 45px;
  box-shadow: 0 5px 15px rgba($gray-base, 0.08);

  @include media('<widescreen') {
    margin-bottom: 50px;
  }

  @include media('<desktop') {
    padding: 24px 19px 30px;
    margin-bottom: 40px;
  }

  @include media('<tablet') {
    padding-bottom: 29px;
    margin-bottom: 42px;
  }
}

[class*="col-"],
[class^="col-"] {
  @include media('<desktop', '>=tablet') {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include media('<phone') {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.row {
  @include media('<desktop', '>=tablet') {
    margin-left: -10px;
    margin-right: -10px;
  }

  @include media('<phone') {
    margin-left: -7px;
    margin-right: -7px;
  }
}

.container,
.container-fluid {
  @include media('<desktop', '>=tablet') {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include media('<phone') {
    padding-left: 7px;
    padding-right: 7px;
  }
}